name: release
on:
  push:
    tags:
    - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Build
      run: |
        go mod tidy
        go build -o influxdbv2-database-plugin cmd/influxdbv2-database-plugin/main.go
    - name: Calculate SHA256 checksum
      run: |
        sha256sum influxdbv2-database-plugin | cut -d ' ' -f1 > influxdbv2-database-plugin.sha256
    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false
        name: ${{ github.ref_name }}
        body: ${{ github.event.head_commit.message }}
        files: |
          influxdbv2-database-plugin
          influxdbv2-database-plugin.sha256
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
